body{
    background-color: #798789
}
.valign-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
}
#userForm{
    padding: 10px;
    border-radius: 10px;
}
#ingredientList{
    border-radius: 10px;
}
#userResults{
}