img.container{
    width: 100%;
}
.sidenav-trigger .material-icons{
   color:#F19820; 
   font-size:xx-large;
   position: fixed;
   top: 2px;
   z-index:1;
}
.valign-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    color: #F19820;
}
#userForms{
    padding: 10px;
    border-radius: 10px;
    color: #F19820;
    box-shadow: 0px 0px 100px 10px #798789;
}
[type="checkbox"].filled-in:checked + span:not(.lever):after{
    border: 2px solid #F19820 !important;
    background-color: #F19820 !important;
}    
#ingredientList{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 10px #798789;
}
#ingredientList .material-icons{
    color: #F19820;
}
